<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define the package sources to get NuGet packages from -->
  <packageSources>
    <!-- Ensure no additional sources are inherited from another config file -->
    <clear />
    <!-- Sources listed here are used in order -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
